# Server Configuration
PORT=3001
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_DATABASE=product_order_db

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE=product_order_service_queue
RABBITMQ_EXCHANGE=ecommerce_events

# JWT Configuration
JWT_SECRET=f66cccca8c30cac826ced9d2c37757f21be780e277f6e80017d90371ede61b337960a5e26105a642a1f946ee643eaebd1310070645eb27ca97ba17fb5049b3db
JWT_EXPIRATION=7d